
{% extends 'basic.html' %}
{% load static %}
{% block content %}
<div class="main">
    <div class="container">
        <div class="breadcrumbs">
            <ul>
                <li><a href="/">Главная</a></li>

                <li>Корзина</li>
            </ul>
        </div>

    </div>

    <section class="cart">
        <div class="container">
            <div v-if="cartTotal">
                <div class="section-header"><h1>Корзина</h1></div>
                <div  class="cart-wrapper">
                    <div class="cart-items">
                        <div class="cart-items__item cart-grid">
                            <p class="cart-items__item-name text-bold cart-header">ТОВАР</p>
                            <p class="cart-items__item-qt text-bold cart-header">КОЛ-ВО</p>
                            <p class="cart-items__item-price text-bold cart-header">ЦЕНА</p>
                            <p class="cart-items__item-total text-bold cart-header">ВСЕГО</p>
                            <p class="cart-items__item-action text-bold cart-header"></p>
                        </div>
                         <main-cart-item
                                    v-for="(item,index) in headerCartItems"
                                    v-bind:item="item"
                                    v-bind:key="item.id"
                                    v-bind:index="index"
                                    v-on:userdelete="remove"
                                    v-on:del_qt="del_qt"
                                    v-on:add_qt="add_qt"
                            ></main-cart-item>


                        <div class="cart-buttons cart-buttons-lg">
                           <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline">НАЗАД К ПОКУПКАМ</a>
                            <a href="{% url 'checkout' %}" class="btn ">ОФОРМИТЬ ЗАКАЗ</a>
                        </div>

                    </div>
                    <div class="cart-total block-w-r4">
                        <div class="cart-total__row">
                            <p class="cart-total__name">Общая стоимость:</p><p class="cart-total__value">[[cartTotal]]Р</p>
                        </div>
                         <div class="cart-total__row">
                            <p class="cart-total__name">Скидка:</p><p class="cart-total__value">[[promoDiscount]] %</p>
                        </div>
                         <div class="cart-total__row mb-40">
                            <p  class="cart-total__name total">ИТОГО:</p>
                             <p v-if="cartTotalWithDiscount > 0" class="cart-total__value total">[[ cartTotalWithDiscount]]Р</p>
                             <p v-else="cartTotalWithDiscount" class="cart-total__value total">[[ cartTotal]]Р</p>
                        </div>
                        <div class="cart-total__promo">
                            <input v-model="promo_code" type="" class="form-control" placeholder="ПРОМО-КОД">
                            <span @click="usePromo"  class="btn ">ПРИМЕНИТЬ</span>

                        </div>

                    </div>
                </div>
                <div class="cart-buttons cart-buttons-sm">
                            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline">НАЗАД К ПОКУПКАМ</a>
                            <a href="{% url 'checkout' %}" class="btn ">ОФОРМИТЬ ЗАКАЗ</a>
                </div>
            </div>
            <div v-else class="container">
                <div  class="empty-cart">
                     <div class="section-header text-center"><h4>Корзина пуста</h4></div>
                <a style="max-width: 320px; margin: 0 auto" href="{% url 'index'%}" class="btn">на главную</a>
                </div>
            </div>
        </div>
    </section>



</div>
{% endblock %}

{% block js %}
    {{ block.super }}

{% endblock %}