{% load static %}

<div class="main">
    <div class="container">
        <div class="breadcrumbs">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="{% url 'show_cart' %}">Корзина</a></li>
                <li > Оформление заказа</li>
            </ul>
        </div>

    </div>
    <section class="lk-profile">
        <div class="container">
            <div class="section-header"><h1>Оформление заказа</h1></div>
            <div style="display: grid;grid-template-columns: 2fr 1fr; grid-gap: 30px" class="">
                <div class="profile block-w-r4">
                    <p class="text-bold mb-30">ЗАПОЛНЕНИЕ ВСЕХ ПОЛЕЙ ОБЯЗАТЕЛЬНО ДЛЯ ФОРМИРОВАНИЯ ЗАКАЗА.</p>
                {{ form.errors }}
                    <form class="lk-profile-form"  action="{% url 'checkout' %}" method="post">{% csrf_token %}

                        <div class="lk-profile-form-wrapper">
                            <div class="lk-profile-form-block ">

                                <label>Ваше имя <sup>*</sup></label>
                                <input oninput="checkout_form_change();" required="required" name="{{ form.name.name }}" type="text" class="form-control"  placeholder="Ваше имя" value="{% if not client.name %}{% else %}{{ client.name }}{% endif %}">
                                <label>Ваша фамилия <sup>*</sup></label>
                                    <input oninput="checkout_form_change();" required="required" name="{{ form.family.name }}" type="text" class="form-control"  placeholder="Ваша фамилия" value="{% if not client.family %}{% else %}{{ client.family }}{% endif %}">
                                <label>Ваша отчество <sup>*</sup></label>
                                <input oninput="checkout_form_change();"  name="{{ form.otchestvo.name }}" type="text" class="form-control"  placeholder="Ваше отчество" value="{% if not client.otchestvo %}{% else %}{{ client.otchestvo }}{% endif %}">
                                <label>Ваш E-Mail  <sup>*</sup></label>
                                  <input oninput="checkout_form_change();" type="email" required="required" name="{{ form.email.name }}" class="form-control"  placeholder="Ваш E-Mail" value="{{ client.email }}">
                                <label>Ваш телефон  <sup>*</sup></label>
                                  <input oninput="checkout_form_change();" type="tel" required="required" name="{{ form.phone.name }}" class="form-control"  placeholder="Ваш телефон" value="{% if not client.phone %}{% else %}{{ client.phone }}{% endif %}">


                            </div>
                            <div class="lk-profile-form-block">
                                <label>Страна <sup>*</sup></label>
                                  <input oninput="checkout_form_change();" type="text" required="required" name="{{ form.country.name }}" class="form-control"  placeholder="Страна" value="{% if not client.country %}{% else %}{{ client.country }}{% endif %}">
                                <label>Город <sup>*</sup></label>
                                 <input oninput="checkout_form_change();" type="text" required="required" name="{{ form.city.name }}" class="form-control"  placeholder="Город" value="{% if not client.city %}{% else %}{{ client.city }}{% endif %}">
                                <label>Индекс <sup>*</sup></label>
                                 <input oninput="checkout_form_change();" type="number" required="required" name="{{ form.post_code.name }}" class="form-control"  placeholder="Индекс" value="{% if not client.post_code %}{% else %}{{ client.post_code }}{% endif %}">
                                <label>Адрес доставки <sup>*</sup></label>
                                 <textarea oninput="checkout_form_change();" required="required" name="{{ form.address.name }}" class="form-control" rows="5"  placeholder="Адрес доставки">{% if not client.address %}{% else %}{{ client.address }}{% endif %}</textarea>
                            </div>
                        </div>

                        <input type="hidden" name="form_type" value="user_info">
                          <button id="checkout_user_info_btn"  style="display: none;"  type="submit" class="btn "><i class="fa fa-save"></i> &nbsp; Сохранить изменения</button>
    </form>


         <form action="{% url 'checkout' %}" method="post">{% csrf_token %}
                        <p class="text-bold mb-30">СПОСОБ ДОСТАВКИ ТОВАРА</p>
                        {% for ship in shipping %}
                            <label class="custom-checkbox mb-30"> {{ ship.name }}
                                <input type="radio" name="shipping"
                                       id="optionsRadios{{ ship.id }}" value="{{ ship.id }}" required="required">
                                <span class="checkmark"></span>
                            </label>
                        {% endfor %}
                        <p class="text-bold mb-30">СПОСОБ ОПЛАТЫ ТОВАРА</p>
                        {% for pay in payment %}
                            <label class="custom-checkbox mb-30"> {{ pay.name }}
                                <input type="radio" name="payment"
                                       id="optionsRadios{{ pay.id }}{{ pay.id }}" value="{{ pay.id }}" required="required">
                                <span class="checkmark"></span>
                            </label>
                        {% endfor %}
                        <input type="hidden" name="form_type" value="checkout">
                {% if client.profile_ok %}
                        <button id="checkout_btn"   type="submit" class="btn ">ОФОРМИТЬ ЗАКАЗ</button>
                {% else %}
                    <div class="cartFooter w100 site-color"><strong>Ваш профиль заполнен не полностью. Проверьте Ваши данные <a class="link" href="{% url 'account_edit' %}">ТУТ</a> </strong> </div>
                {% endif %}


                    </form>

                </div>
                <div style="margin-top: 0" class="cart-total block-w-r4">
                    <div class="cart-total__row">
                        <p class="cart-total__name">Общая стоимость:</p><p class="cart-total__value">[[cartTotal]]Р</p>
                    </div>
                    <div class="cart-total__row">
                        <p class="cart-total__name">Скидка:</p><p class="cart-total__value">[[promoDiscount]] %</p>
                    </div>
                    <div class="cart-total__row mb-40">
                        <p  class="cart-total__name total">ИТОГО:</p>
                        <p v-if="cartTotalWithDiscount > 0" class="cart-total__value total">[[ cartTotalWithDiscount]]Р</p>
                        <p v-else="cartTotalWithDiscount" class="cart-total__value total">[[ cartTotal]]Р</p>
                    </div>


                </div>
            </div>

        </div>
    </section>

</div>

