{% extends 'basic.html' %}
{% load static %}

{% block content %}
<div class="main">
    <div class="container">
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Главная</a></li>

                <li>Контакты</li>
            </ul>
        </div>

    </div>
    <section class="contact">
        <div class="container">
            <div class="section-header"><h1>Контакты</h1></div>
            <div class="info-blocks">

                <div class="info-blocks__item block-w-r4" >
                    <img class="mb-30" src="images/yin-yang_icon.png" alt="">
                    <p class="text-bold mb-20">АДРЕС ОФИСА</p>
                    <p>Москва, Электролитный проезд, 10 строение 5<br>
                        Четвертый этаж, офис №408<br><br>
                        <span class="text-bold">Телефон:</span><br> +7 (985) 562-17-89<br><br>
                        <span class="text-bold">Время работы:</span><br>
                        ПН-ПТ: с 10:00 до 18:00,<br>
                        СБ, ВС - Выходной</p>

                </div>
                <div class="info-blocks__item block-w-r4">
                    <img class="mb-30" src="images/yin-yang_icon.png" alt="">
                    <p class="text-bold mb-20">АДРЕС СКЛАДА</p>
                    <p>Москва, Электролитный проезд, 10 строение 5<br><br>
                        <span class="text-bold">Время работы:</span><br>
                        ПН-ПТ: с 10:00 до 18:00,<br>
                        СБ, ВС - Выходной</p>

                </div>
                <div class="info-blocks__item block-w-r4">
                    <img class="mb-30" src="images/yin-yang_icon.png" alt="">
                    <p class="text-bold mb-20">КОНТАКТНЫЕ ДАННЫЕ</p>
                    <p >По всем вопросам пишите нам на нашу рабочую почту! Вы можете связаться с
                        нами по дополнительному номеру с 10:00 до 20:00!<br><br>
                        <span class="text-bold">Дополнительный телефон:</span><br> +7 (985) 562-17-89<br>
                        <span class="text-bold">WhatsApp:</span><br> +7 (977) 522-71-60<br>
                        <span class="text-bold">Почта:</span><br> INFO@LAKSHMI888.RU
                    </p>

                </div>

            </div>
            <div class="section-header">
                <h4 >Мы на карте</h4>
                <div class="hr"></div>
            </div>
            <div class="block-w-r4">


                           <iframe width="1080" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=%D0%BC%D0%BE%D1%81%D0%BA%D0%B2%D0%B0%2C%20%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BB%D0%B8%D1%82%D0%BD%D1%8B%D0%B9%20%D0%BF%D1%80%D0%BE%D0%B5%D0%B7%D0%B4%2C%20%D0%B4%D0%BE%D0%BC%2010%D1%815&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>



            </div>
        </div>
    </section>

</div>
{% endblock %}