{% extends 'basic.html' %}
{% load static %}

{% block content %}
<div class="main">
    <div class="container">
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Главная</a></li>

                <li>Контакты</li>
            </ul>
        </div>

    </div>
    <section class="contact">
        <div class="container">
            <div class="section-header"><h1>Контакты</h1></div>
            <div class="info-blocks">

                <div class="info-blocks__item block-w-r4" >
                    <img class="mb-30" src="images/yin-yang_icon.png" alt="">
                    <p class="text-bold mb-20">АДРЕС ОФИСА</p>
                    <p>Москва, Электролитный проезд, 10 строение 5<br>
                        Третий этаж, офис №305<br><br>
                        <span class="text-bold">Телефон:</span><br> +7(495) 926-33-59<br><br>
                        <span class="text-bold">Время работы:</span><br>
                        ПН-ПТ: с 10:00 до 18:00,<br>
                        СБ, ВС - Выходной</p>

                </div>
                <div class="info-blocks__item block-w-r4">
                    <img class="mb-30" src="images/yin-yang_icon.png" alt="">
                    <p class="text-bold mb-20">АДРЕС СКЛАДА</p>
                    <p>Москва, Электролитный проезд, 10 строение 5<br><br>
                        <span class="text-bold">Время работы:</span><br>
                        ПН-ПТ: с 10:00 до 18:00,<br>
                        СБ, ВС - Выходной</p>

                </div>
                <div class="info-blocks__item block-w-r4">
                    <img class="mb-30" src="images/yin-yang_icon.png" alt="">
                    <p class="text-bold mb-20">КОНТАКТНЫЕ ДАННЫЕ</p>
                    <p >По всем вопросам пишите нам на нашу рабочую почту! Вы можете связаться с
                        нами по дополнительному номеру с 10:00 до 20:00!<br><br>
                        <span class="text-bold">Дополнительный телефон:</span><br> +7 (964) 647-76-76<br>
                        <span class="text-bold">WhatsApp:</span><br> +7 (964) 647-76-76<br>
                        <span class="text-bold">Почта:</span><br> INFO@LAKSHMI888.RU
                    </p>

                </div>

            </div>
            <div class="section-header">
                <h4 >Мы на карте</h4>
                <div class="hr"></div>
            </div>
            <div class="block-w-r4">
                <p class="text-bold">
                    КККАААРРРТТАААА
                </p>

            </div>
        </div>
    </section>

</div>
{% endblock %}